def timestamp = new java.util.Date().format( 'dd-MM-yyyyd_mm-HH')

process {
cpus = 7
memory = 35.GB
cache = "lenient"
}
executor {
queueSize = 4
}

/*
timeline {
  enabled = true
  file = "${projectDir}/nf_run_timeline_${timestamp}.html"
}
report {
  enabled = true
  file = "${projectDir}/nf_run_report_${timestamp}.html"
}
trace {
  enabled = true
  file = "${projectDir}/nf_run_trace_${timestamp}.txt"
}
dag {
  enabled = true
  file = "${projectDir}/nf_run_dag_${timestamp}.svg"
}
*/
